{$SITE_ADDRESS} {
	encode gzip zstd
	root * /srv

	handle /api/* {
		reverse_proxy backend:7778
	}

	handle /health {
		reverse_proxy backend:7778
	}

	handle {
		try_files {path} /index.html
		file_server
	}
}
